.start-page {
	background-image: url(../img/start/start-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	color: white;
	overflow: hidden;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.start-header {
	
}
.start-header__menu {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-end;
	        align-items: flex-end;
}
.start-header__menu__share {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
}
.start-main {
	flex: 1 0 auto;
	padding-top: 10px;
	@media (min-width: 992px) {
	    padding-top: 30px;
	}
	@media (min-width: 1200px) {
	    padding-top: 75px;
	}
}
.start-main--bg {
	position: absolute;
    bottom: 0;
	z-index: -1;
	background-image: url(../img/start/kosyakov.png);
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	width: 320px;
	height: 320px;
	@media (min-width: 576px) {
		width: 532px;
		height: 464px;
	}
	@media (min-width: 992px) {
		width: 710px;
    	height: 675px;
    	left: -4%;
	}
	@media (min-width: 1200px) {
	    left: -4%;
	    width: 807px;
	    height: 801px;
	}
	@media (min-width: 1550px) {
		left: -4%;
		width: 950px;
    	height: 845px;
	}
	@media (min-width: 1900px) {
		width: 1082px;
		height: 932px;
		left: 0;
		bottom: -5%;
	}
}
.start-main .container {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
    padding-top: 70px;
	@media(min-width: 576px) {
		padding-top: 0px;
	}
	@media (min-width: 992px) {
		-webkit-align-items: flex-end;
				align-items: flex-end;
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
				flex-direction: column;
		padding-top: 207px;
	}
	@media (min-width: 1200px) {
	    padding-top: 135px;
	}
}
.start-main__content {
	text-align: center;
	@media(min-width: 992px){
		text-align: left;
		width: 50%;
	}
	@media (min-width: 1400px) {
		width: 61%;
	}
}
.start-main__content__name {
	font-family: circe-slab-a, serif;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	font-size: 24px;
	margin-bottom: 10px;
	@media (min-width: 768px) {
	  font-size: 28px;
	}
	@media (min-width: 992px) {
		font-size: 32px;
	}
	@media (min-width: 1200px) {
		font-size: 36px;
	}
	@media (min-width: 1400px) {
		font-size: 42px;
		margin-bottom: 0;
	}
	@media (min-width: 1550px) {
		font-size: 48px;
	}
}
.start-main__content__city {
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	font-size: 60px;
	line-height: 45px;
	margin-left: -3px;
	margin-bottom: 15px;
	@media (min-width: 768px) {
		font-size: 84px;
		line-height: 70px;
		margin-left: -5px;
	}
	@media (min-width: 992px) {
		font-size: 100px;
		line-height: 80px;
		margin-left: -7px;
	}
	@media (min-width: 1200px) {
		font-size: 120px;
		line-height: 100px;
		margin-left: -10px;
	}
	@media (min-width: 1400px) {
		font-size: 140px;
		line-height: 125px;
		margin-left: -15px;
		margin-bottom: 0;
	}
	@media (min-width: 1550px) {
		font-size: 160px;
		line-height: 145px;
	}
	@media (min-width: 1900px) {
		font-size: 186px;
		line-height: 175px;
	}
}
.start-main__content__button {
	background-color: $button-ping;
	// width: 207px;
	// height: 53px;
	border-radius: 26.5px;
	border: 0px;
	box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.3);
	color: white;
	cursor: pointer;
	
	text-transform: uppercase;
	padding: 13px 26px 10px;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.88;
	letter-spacing: normal;
	
	margin-bottom: 35px;
	outline: 0;
}
.start-main__content__text {
	font-family: circe-slab-a, serif;
	
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: normal;
	font-size: 14px;
	@media (min-width: 768px) {
		font-size: 16px;
	}
	@media (min-width: 992px) {
		font-size: 18px;
	}
	@media (min-width: 1200px) {
		font-size: 24px;
	}
}
.start-main__content__text__title {
	font-weight: 700;
	margin-bottom: 15px;
	@media (min-width: 992px) {
		margin-bottom: 25px;
	}
	@media (min-width: 1200px) {
		margin-bottom: 35px;
	}
}

.start-main__content__text__desc {
	font-weight: 500;
}

.start-footer {
	padding-bottom: 30px;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
}
.start-footer .container {
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	
}
.start-footer__user-agreement {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.88;
	letter-spacing: normal;
}